/* You can add global styles to this file, and also import other style files */
body{
  background-color: rgb(91, 67, 129);
}

h1,h2{
  color: aliceblue;
}

p{
  color: aliceblue;
}

.small-flag{
  width: 50px;
}

.mr-1{
  margin-right: 5px;
}
